html {
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .navbar{
    top: 0;
    position: fixed;
  }

  .about {
    display: block;
    position: absolute;
    top: 100px;
    margin: 20px;
    padding: 25px;
    width: 1100px;
    box-sizing: border-box;
    border-radius: 10px;
    transform: translate(0px,5px);
    font-size: 30px;
    text-align: center;
    align-items: center;
    color: white;
  
  }

  .About {
    font-size: 30px;
  }
  
  
  
