html {
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .navbar{
    top: 0;
    position: fixed;
  }

  .about {
    display: block;
    position: absolute;
    top: 100px;
    margin: 20px;
    padding: 25px;
    width: 600px;
    background: #8cb812;
    box-sizing: border-box;
    border-radius: 10px;
    transform: translate(0px,5px);
  }
  
  
  
  .fa {  
    padding: 20px;  
  text-align: center;  
    margin: 5px 2px;  
    font-size: 30px;  
    width: 50px;  
  }  
  .fa-facebook {  
    background: #3B5998;  
    color: white;  
  }  
  .fa-twitter {  
    background: #55ACEE;  
    color: white;  
  }  
  .fa-pinterest {  
    background: #cb2027;  
    color: white;  
  }  
  .fa-linkedin {  
    background: #007bb5;  
    color: white;  
  }  
  .fa-instagram {  
    background: #125688;  
    color: white;  
  }  
  .fa-youtube {  
    background: #bb0000;  
    color: white;  
  }  
  .fa-google {  
    background: #dd4b39;  
    color: white;  
  }  
  .fa-snapchat-ghost {  
    background: #fffc00;  
    color: white;  
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  
  }  
  .fa-skype {  
    background: #00aff0;  
    color: white;  
  }  
  .fa:hover {  
      opacity: 0.9;  
  }  