html {
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .navbar{
    top: 0;
    position: fixed;
  }

  .about {
    color: aliceblue;
    font-size: 20px;
    top: 100px;
    margin: 20px;
    padding: 25px;
    width: 600px;
    background: #7c8174;
    box-sizing: border-box;
    border-radius: 10px;
    transform: translate(0px,5px);
    font-size: 30px;
    text-align: center;
    align-items: center;
    color: white;
  
  }

  .About {
    font-size: 30px;
  }

  .team{
    background-color: #7c8174;
    color:aliceblue;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
  }
  
  
  
