html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.login {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #685044;
  box-sizing: border-box;
  border-radius: 10px;
}


.login h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}


#submit {
  background: #aff3b7;
  width: 50%;
  color: rgb(68, 68, 68);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  font-weight: 300;
  font-size: large;
}